.login-layout{
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.75rem;
    box-shadow: 0rem 0.25rem 0.375rem -0.0625rem rgb(0 0 0 / 10%), 0rem 0.125rem 0.25rem -0.0625rem rgb(0 0 0 / 6%);
    background-color: transparent!important;
}

.login-font{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.login-reg-body{
    opacity: 1;
    background: transparent;
    color: #344767;
    box-shadow: none;
    background-image: linear-gradient(195deg, rgba(66, 66, 74, 0.6), rgba(25, 25, 25, 0.6)),url("/images/login_bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.already-text{
    padding-top: 3px;
}

.btn-color{
    background-color: #fd7e14!important;
    border-color: #fd7e14!important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #fd7e14!important;
}

.btn-primary{
    background-color: #fd7e14!important;
    border-color: #fd7e14!important;
}

.bg-primary{
    background-color: #fd7e14!important;
}
.page-item.active .page-link{
    background-color: #fd7e14!important;
    border-color: #fd7e14!important;
}
.card-primary:not(.card-outline)>.card-header {
    background-color: #fd7e15;
}

section.content{
    padding: 8px!important;
}

.listingPrice_perRoomNight {
    font-weight: 400;
    line-height: 1em;
    margin-top: 4px;
}

.listingPrice_perRoomNight, .listingPrice_text {
    font-size: 12px;
    color: #6d787d;
}

.listingPrice_numbers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.listingPrice_finalPrice {
    margin-right: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #ee2a24;
}

.listingPrice_lastPrice {
    margin-right: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #ee2a24;
}

.listingPrice_slashedPrice {
    text-decoration: line-through;
    font-size: 10px;
    color: #6d787d;
    margin-right: 8px;
    font-weight: 400;
}
.listingPrice_slashed_lastPrice {
    text-decoration: line-through;
    font-size: 16px;
    color: #6d787d;
    margin-right: 8px;
    font-weight: 400;
}
.d-body-lg {
    line-height: 25px;
}
.listingPrice_percentage {
    font-size: 10px;
    font-weight: 600;
    color: #f5a623;
    line-height: 25px;
}
.listing_lastPrice_percentage {
    font-size: 14px;
    font-weight: 600;
    color: #f5a623;
    line-height: 25px;
}
.cnfBtn{
    color: #ffffff;
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.mrgForCust{
    margin-left: 0px!important;
}

.amenities-container .hotel-amenities .amenity {
    display: grid;
    justify-content: center;
    align-items: center;
}

.amenity1{
    font-size: 20px;
    border: none;
}

.amenity1 > .fas{
    vertical-align: text-top;
    margin-right: 5px;
}